html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Trebuchet MS", fantasy, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
    color: green;
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    line-height: 0.5;
    font-family:"Gochi Hand";
}

h2 {
    color: green;
    font-weight: bolder;
    font-style: italic;
    line-height: 0.5;
    font-family:"Gochi Hand";
    margin-top: 25px;

}

h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 0.5;
    font-family:"Comic Sans MS", cursive,sans-serif;
}

a1 {
    float: left;
    padding: 0px 20px;
    background: white;
}

        
a3 {
    float: left;
    width: 10%;
    height: 250px; /* only for demonstration, should be removed */
    background: white;
    padding: 0px;
}
        
a4 {
    float: right;
    height: 220px; /* only for demonstration, should be removed */
    background: white;
    padding: 0px;
}
article {
    float: justify;
    padding: 1px 100px;
    background-color: white;
}

article2 {
    float: left;
    padding: 25px;
    background-color: white;
    height: 200px; /* only for demonstration, should be removed */
                }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: greenyellow;
}

li {
    float: left;
    border-right: 2px solid white;
}
 
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 12px 14px;
    font-size: 18px;
    font-family:"Gochi Hand";
    font-weight: 600;
    text-decoration: none;
}
        
li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}
        /* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}
        
        /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 800px) {
    a1, article {
        width: 100%;
        height: auto;
    }
}



b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

/*-- Classes*/

.frase {
    color: #222;
    font-weight: 600;
    font-style: italic;
    line-height: 1.8;
    font-size: 25px;
    padding: 0px;
    font-family:"Gochi Hand"; 
}

.justify {
    text-align:justify;
}
